<div class="wrapper">
  <%= render 'components/navbar' %>

    <div class="container-accommodation-form">
      <div class="accommodation-form">
        <div class="accommodation-text">
          <h2>Change your booking</h2>
          <h6>It's never too late !</h6>
        </div>
        <%= simple_form_for(@booking, as: :booking, method: :patch, url: my_booking_path) do |f| %>
          <%= f.hidden_field :accommodation_id, value: @accommodation.id %>
          <%= f.input :check_in_date, order: [:day, :month, :year] %>
          <%= f.input :check_out_date, order: [:day, :month, :year] %>
          <%= f.input :nb_of_guests, as: :select, collection: 1..(@accommodation.nb_of_guests), input_html: { max: @accommodation.nb_of_guests }, label: "Nombre de voyageurs" %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  <%= render 'components/footer' %>
</div>
