<div class="wrapper">
  <%= render 'components/navbar' %>
  <div class="validation-infos">
  <div class="container">
  <h2>Your booking</h2>
<div class="container-main-infos">
  <h6> <i class="fa-regular fa-calendar"></i>From <%= @booking.check_in_date.day %>/<%= @booking.check_in_date.month %>/<%= @booking.check_in_date.year %> to <%= @booking.check_out_date.day %>/<%= @booking.check_out_date.month %>/<%= @booking.check_out_date.year %></h6>
  <h6> <i class="fa-solid fa-person"></i> <%= @booking.nb_of_guests %> guests </h6>
  <h6><i class="fa-solid fa-dollar-sign"></i> <%= @booking.total_price %>$</h6>
  </div>
  </div>
  </div>
  <%= render 'components/footer' %>
</div>
