<div class="wrapper">
  <%= render 'components/navbar' %>




  <div class="search_lp">
      <h5><strong>Find your next destinations</strong></h5>
      <%# search %>
      <%= render 'components/search' %>
  </div>

  <div class="container">
    <div class="container-all-accommodations">
      <h4>All Accommodations</h4>
      <p>Discover all our accommodations <em>from Paris to Tokyo.</em></p>
      <%= render 'components/card' %>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%= render 'components/footer' %>
</div>
