<%= render 'components/navbar' %>

<div class="container">
<div class="container-pp">
  <div class="container">
    <h4><%= @accommodation.title %></h4>
    <h6><%= @accommodation.address %>  ·  <%= @accommodation.nb_of_guests %> guests</h6>

    <div class="photos-accommodation-index">
      <div class="main-photo">
        <%= cl_image_tag @accommodation.photos.first.key, height: 610, width: 810, crop: :fill, class: "image-clickable" %>
      </div>

      <div class="secondary-photos">
        <% @accommodation.photos[1..-1].each do |photo| %>
          <div class="secondary-photo">
            <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, class: "image-clickable" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pp-details">
        <div class="separator"></div>
          <% if @accommodation.user.bio == nil%>
            <p><%= @accommodation.user.first_name %> does not have a bio yet !</p>
          <% else %>
            <p><%= @accommodation.user.bio %></p>
          <% end %>
          <% if @accommodation.user.photo.key == nil%>
            <%= image_tag "avatar_default.jpg", height: 50, width: 50, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag @accommodation.user.photo.key, height: 50, width: 50, crop: :fill  %>
          <% end %>
    <h6> <i class="fa-regular fa-calendar"></i> Free cancelation until 1 week before your trip!</h6>
    <div class="separator"></div>
      <p><%= @accommodation.description %></p>
    </div>
    <div class="separator"></div>
  </div>

  <div class="btn-pp">
    <%= link_to "Book now", new_accommodation_booking_path(@accommodation), class: "btn btn-ghost" %>
  </div>
  <div class="reco-block">
    <div>
      <h5>Others accommodations</h5>
    <div class="cards-container">
      <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation do %>
        <div class="card-trip">
          <div>
            <%= cl_image_tag accommodation.photos[0].key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="card-trip-infos">
            <div>
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.address %></p>
            </div>
            <div class="price">
              <span><%= accommodation.price_per_night %></span><h2>$</h2>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="btn-ghost" id="see-more-btn-home">
      <%= link_to "See more", "/accommodations", class: "btn btn-ghost"%>
    </div>
</div>



<%= render 'components/footer' %>
