<%= render 'components/navbar' %>

<div class="container">
<div class="container-pp">
  <div class="container">
    <h3><%= @accommodation.title %></h3>
    <h6><%= @accommodation.address %>  ·  <%= @accommodation.nb_of_guests %> guests</h6>

    <div class="photos-accommodation-index">
      <div class="main-photo">
        <%= cl_image_tag @accommodation.photos.first.key, height: 610, width: 810, crop: :fill, class: "image-clickable" %>
      </div>

      <div class="secondary-photos">
        <% @accommodation.photos[1..-1].each do |photo| %>
          <div class="secondary-photo">
            <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, class: "image-clickable" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pp-details">
        <div class="user-bio">
        <%= cl_image_tag @accommodation.user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar-pp" %>
        <p><%= @accommodation.user.bio %></p>
        </div>
        <div class="separator"></div>
    <h6> <i class="fa-regular fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;Free cancelation until 1 week before your trip!</h6>
    <div class="separator"></div>
    <div class="acc-desc">
      <h6><i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;&nbsp;Where you'll stay</h6>
      <p><%= @accommodation.description %></p>
    </div>
    </div>
    <div class="separator"></div>
  </div>

  <div class="btn-pp">
    <%= link_to "Book now", new_accommodation_booking_path(@accommodation), class: "btn btn-ghost" %>
  </div>
  <div class="reco-block">
    <div>
      <h5>Others accommodations</h5>
    </div>
  </div>
</div>
</div>



<%= render 'components/footer' %>
