<h1>Edit your accommodation</h1>
<%= simple_form_for(@accommodation) do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :address %>
<%= f.input :nb_of_guests %>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<%= f.submit %>
<% end %>
