<div class="wrapper">
  <%= render 'components/navbar' %>
  <div class="container">
  <h4>Your Accommodations</h4>

  <div class="cards-container">
    <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation do %>
        <div class="card-trip">
          <div>
            <%= cl_image_tag accommodation.photos[0].key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="card-trip-infos">
            <div>
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.address %></p>
            </div>
            <div class="price">
              <span><%= accommodation.price_per_night %></span><h2>$</h2>
            </div>
          </div>
          <div class="link-my-accommodations">
            <%= link_to "Edit", edit_my_accommodation_path(accommodation) %>
            <%= link_to "Delete",
            accommodation_path(accommodation),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>

  <%= render 'components/footer' %>
</div>
