<%= render 'components/navbar' %>

  <div class="container-accommodation-form">
    <div class="accommodation-form">
      <div class="accommodation-text">
        <h2>Add an accommodation</h2>
        <h6>Start the experience and add your <em>accommodation informations.</em></h6>
      </div>
      <%= simple_form_for(@accommodation) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price_per_night %>
        <%= f.input :nb_of_guests %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
<%= render 'components/footer' %>
