<%# navbar %>

<div class="navbar navbar-expand-sm navbar-light navbar-sucasa">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "sucasa-logo2.png", class: "logo-img" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "See all accomodations", "/accomodations", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "Amar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>


<%# banner %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1493671441230-098b0a435b30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2231&q=80);">
  <div class="container">
    <h1><strong>Find your next destinations</strong></h1>
    <p>Sharing meaningful experiences and creating lasting memories.</p>

    <%# search %>

    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="main-container">
  <%# title for listing cards %>
  <div class="title-container">
    <br>
    <h4>Handpicked houses</h4>
    <h6>Discover all the Home exchange and home standing offers</h6>
  </div>

  <%# card %>

  <div class="card-trip">
    <%= image_tag "appart-somya.jpg", alt: "Card Image" %>
    <div class="card-trip-infos">
      <div>
        <h2>Prénom | Métier</h2>
        <p>Ville</p>
      </div>
      <div>
        <h2>Prix</h2>
      </div>
      <div class="card-trip-user">
        <%= image_tag "Somya.jpg", alt: "User Avatar", class: "avatar-bordered" %>
      </div>
    </div>
    <div class="btn-ghost">
      <%= link_to "See more", "#", class: "btn btn-ghost" %>
    </div>
  </div>
</div>

<%# footer  %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Amar, Romain and Somya.
  </div>
</div>
