<%= render 'components/navbar' %>
<%= render 'components/banner' %>

<div class="main-container">
  <%# title for listing cards %>
  <div class="title-container">
    <br>
    <h4>Handpicked houses</h4>
    <h6>Discover all the Home exchange and home standing offers</h6>
  </div>

  <%# card %>
  <div class="container">
    <div class="cards-container">
      <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation do %>
        <div class="card-trip">
          <div>
            <%= cl_image_tag accommodation.photos[0].key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="card-trip-infos">
            <div>
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.address %></p>
            </div>
            <div class="price">
              <span><%= accommodation.price_per_night %></span><h2>$</h2>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
